body {
    background: url('kangur2.jpg') fixed;
    background-size: cover;
}

.main-menu {
    background: white;
    padding: 15px;
    width: 70vw;
    margin: 0 auto;
    opacity: 0.5;
    cursor: pointer;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu li {
    background: white;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    height: auto;
}

    
.main-menu:hover {
        opacity: 1;
    }
    .main-section {
    background: white;
    padding: 15px;
    width: 70vw;
    margin: 0 auto;
    }
    
.category-menu {
    background: #269abc;
    padding: 15px;
    width: 70vw;
    margin: 0 auto;
    opacity: 1;
    
    
        
    }
        
