
body {
    background: url('kangur2.jpg') fixed;
    background-size: cover;
}

.main-menu {
    padding: 40px;
    margin: 0 auto;
    width: 100%;   
    opacity: 1;
    text-align: center;
    
}

.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-menu li {
    background: #efefef;
    padding: 15px;
    cursor: pointer;
    height: auto;
}

    
.main-menu:hover {
        opacity: 1;
    }
    
.main-section {
    background: #efefef;
    margin: 30px 0;
        
    }
 #bgChanger {
        position: absolute;
        top: 10px;
        right: 20px;
    }
 
#footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

p.one {
 text-align: center;
}
